@font-face {
  font-family: "iconfont"; /* Project id 3690278 */
  src: url('iconfont.woff2?t=1665816641463') format('woff2'),
       url('iconfont.woff?t=1665816641463') format('woff'),
       url('iconfont.ttf?t=1665816641463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e600";
}

.icon-wode-F:before {
  content: "\e61d";
}

.icon-wode-wode:before {
  content: "\e60e";
}

.icon-guanbi-1:before {
  content: "\e68f";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-zhuye:before {
  content: "\e648";
}

.icon-aixin:before {
  content: "\e603";
}

.icon-my:before {
  content: "\e608";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-wode-:before {
  content: "\e607";
}

.icon-pinglun:before {
  content: "\e60d";
}

.icon-yidianzan:before {
  content: "\e65c";
}

.icon--:before {
  content: "\e623";
}

.icon-xiugai:before {
  content: "\e609";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-Logo:before {
  content: "\e601";
}

.icon-fenxiang-copy:before {
  content: "\e8bd";
}

